In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st

In [2]:
#читаем дата сет в датафрейм
df = pd.read_csv('./ad.csv')
df

     ad_id  action
0        B       1
1        B       1
2        A       0
3        B       0
4        A       1
...    ...     ...
1995     A       0
1996     A       0
1997     A       0
1998     A       1
1999     A       0

[2000 rows x 2 columns]

In [3]:
#посчитаем размер выборок для каждого объявления в тесте
df.ad_id.value_counts()

B    1000
A    1000
Name: ad_id, dtype: int64

In [4]:
#разобьем датафрем на группы по объявлениям
df_a = df[df.ad_id=='A']
df_b = df[df.ad_id=='B']

In [5]:
#посмотрим сколько раз сработало и то и другое объявление
df_a[df_a.action==1].count()

ad_id     304
action    304
dtype: int64

In [6]:
df_b[df_b.action==1].count()

ad_id     372
action    372
dtype: int64

In [7]:
#посчитаем средние/пропорцию, дисперсию и ст отклонение для выборок, разбитых на группы
mean_a, var_a, std_a = df_a.action.mean(), df_a.action.var(), df_a.action.std()
mean_a, var_a, std_a

(0.304, 0.2117957957957958, 0.4602127723084137)

In [8]:
mean_b, var_b, std_b = df_b.action.mean(), df_b.action.var(), df_b.action.std()
mean_b, var_b, std_b

(0.372, 0.23384984984984983, 0.48358024137659905)

In [9]:
#Сформулируем нулевую гипотезу о том, что различий между объявлениями нет и работают они одинаково. 
#alpa примем равным 0.05
#получив значение p_value намного меньше, чем alpha, понимаем, что различие есть и отклоняем нулевую гипотезу
st.ttest_ind(df_a.action, df_b.action)

Ttest_indResult(statistic=-3.2211732138019786, pvalue=0.0012971905467125246)

In [10]:
#Сформулируем новую нулевую гипотезу о том, что среднее количество успехов объявления B больше чем объявления A
#alpa примем равным 0.05
#получив значение p_value намного меньше, чем alpha - отклоняем нулевую гипотезу
st.ttest_ind(df_b.action, df_a.action, alternative='greater')

Ttest_indResult(statistic=3.2211732138019786, pvalue=0.0006485952733562623)

In [ ]:
#таким образом - либо в нашем случае объявление А лучше, чем объявление Б, при условии, что action=1 означает успех
#либо у нас недостаточно данных, чтобы принять нулевую гипотезу